.page {
    width: 100%;
    max-width: 860px;
    margin-left: 50;
    text-align: left;
    background-color: #eee;
}
  
body {
    font: 16px/26px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #454545;
    background-color: #eee;  
}  
header {
    padding: 0.75em 0;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-size: 21px;
    text-shadow: 1px 1px #ccc;
}
  
.map-container {
    width:800px;
    margin: 0 auto;
    position:relative;
}
  
#stateResults {
    width: 40%;
    position: absolute;
    justify-items: right;
    justify-content: right;
    margin-left: 900;
    margin-top: 200;
    font: 12px/16px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #454545;
}
  
#countryResults {
    font: 16px/28px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #454545;
}

#stateResults, #countryResults {
    border-collapse: collapse;
    background-color: #f2f2f2;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
    box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
}
  
th, td {
    text-align: left;
    padding: 8px;
}

#stateResults th{
    background-color: #3b3b3b;
    color: white;
}

#countryResults th {
    background-color: #f16059;
    color: white;
}

.name-1 {
    background-color: rgb(184, 18, 18);
    color: white;
}
.name-2 {
    background-color: rgb(36, 35, 35);
    color: white;
}
.name-3 {
    background-color: rgb(17, 112, 202);
    color: white;
}
.name-4 {
    background-color: rgba(40, 155, 126, 0.925);
    color: white;
}
.name-5 {
    background-color: rgb(218, 145, 10);
    color: white;
}
.name-6 {
    background-color: rgb(8, 59, 13);
    color: white;
}

.winner {
    background-color: #d12709;
    color: white;
}
  
footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

footer span {
    color: #f16059;
    padding: 0 5px;
}
  